---
apiVersion: v1
kind: Namespace
metadata:
  name: victoriametrics

---
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMAgent
metadata:
  name: vma-prod
  namespace: victoriametrics
spec:
  image:
    repository: victoriametrics/vmagent
    tag: v1.127.0
    pullPolicy: Always
  selectAllByDefault: true
  replicaCount: 1
  scrapeInterval: 30s
  scrapeTimeout: 10s
  remoteWrite:
    - url: "http://vmsingle-vms-prod.victoriametrics.svc.cluster.local.:8429/api/v1/write"

---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: vma-prod-ingress
  namespace: victoriametrics
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`vma-prod.goepp.net`) && PathPrefix(`/`)
      kind: Rule
      services:
        - name: vmagent-vma-prod
          port: 8429

---
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMNodeScrape
metadata:
  name: cadvisor-metrics
  namespace: victoriametrics
spec:
  scheme: "https"
  tlsConfig:
    insecureSkipVerify: true
    caFile: "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt"
  bearerTokenFile: "/var/run/secrets/kubernetes.io/serviceaccount/token"
  relabelConfigs:
    - action: labelmap
      regex: __meta_kubernetes_node_label_(.+)
    - target_label: __address__
      replacement: kubernetes.default.svc:443
    - source_labels: [ __meta_kubernetes_node_name ]
      regex: (.+)
      target_label: __metrics_path__
      replacement: /api/v1/nodes/$1/proxy/metrics/cadvisor

---
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMServiceScrape
metadata:
  name: service-endpoints
  namespace: victoriametrics
spec:
  discoveryRole: endpoints
  endpoints:
  - relabelConfigs:
    - action: drop
      source_labels: [__meta_kubernetes_pod_container_init]
      regex: "true"
    - action: keep_if_equal
      source_labels: [__meta_kubernetes_service_annotation_prometheus_io_port, __meta_kubernetes_pod_container_port_number]
    - action: keep
      source_labels: [__meta_kubernetes_service_annotation_prometheus_io_scrape]      
      regex: "true"
    - action: replace
      source_labels: [__meta_kubernetes_service_annotation_prometheus_io_path]
      target_label: __metrics_path__
      regex: (.+)
    - action: replace
      source_labels: [__address__, __meta_kubernetes_service_annotation_prometheus_io_port]      
      regex: ([^:]+)(?::\d+)?;(\d+)
      replacement: $1:$2
      target_label: __address__
    - action: labelmap
      regex: __meta_kubernetes_service_label_(.+)
    - source_labels: [__meta_kubernetes_service_name]
      target_label: pod
    - source_labels: [__meta_kubernetes_service_container_name]
      target_label: container
    - source_labels: [__meta_kubernetes_namespace]
      target_label: namespace
    - source_labels: [__meta_kubernetes_pod_node_name]
      action: replace
      target_label: node
  selector: {}
  namespaceSelector:
    any: true

---
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMStaticScrape
metadata:
  name: vmstaticscrape-mitsubishi2mqtt
  namespace: victoriametrics
spec:
  jobName: mitsubishi2mqtt
  targetEndpoints:
    - targets: ["greatroom-air.goepp.net.", "bedroom-air.goepp.net.", "studio-air.goepp.net.", "blueroom-air.goepp.net."]
      labels:
        group: "mitsubishi2mqtt"

---
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMStaticScrape
metadata:
  name: vmstaticscrape-remote-pi
  namespace: victoriametrics
spec:
  jobName: node_exporter
  targetEndpoints:
    - targets: ["mudderpi.goepp.net.:9100", "rockyledge.goepp.net.:9100", "morgspi.goepp.net.:9100"]
      labels:
        group: "remote-pi"

---
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMStaticScrape
metadata:
  name: vmstaticscrape-k3s-servers
  namespace: victoriametrics
spec:
  jobName: node_exporter
  targetEndpoints:
    - targets: ["k3s-prod-11.goepp.net.:9100", "k3s-prod-12.goepp.net.:9100", "k3s-prod-13.goepp.net.:9100","k3s-prod-15.goepp.net.:9100"]
      labels:
        group: "k3s-servers"

---
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMStaticScrape
metadata:
  name: vmstaticscrape-ubuntu-servers
  namespace: victoriametrics
spec:
  jobName: node_exporter
  targetEndpoints:
    - targets: ["backup.goepp.net.:9100", "smb.goepp.net.:9100", "ui-network.goepp.net.:9100","dev.goepp.net.:9100","adambalm.goepp.net.:9100"]
      labels:
        group: "ubuntu-servers"

---
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMStaticScrape
metadata:
  name: vmstaticscrape-local-pi
  namespace: victoriametrics
spec:
  jobName: node_exporter
  targetEndpoints:
    - targets: ["magpi.goepp.net.:9100","probepi.goepp.net:9100"]
      labels:
        group: "local-pi"

---
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMStaticScrape
metadata:
  name: vmstaticscrape-opnsense
  namespace: victoriametrics
spec:
  jobName: opnsense
  targetEndpoints:
    - targets: ["opnsense.goepp.net:9273"]
      labels:
        group: "opnsense"

---
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMStaticScrape
metadata:
  name: vmstaticscrape-homeassistant
  namespace: victoriametrics
spec:
  jobName: homeassistant
  targetEndpoints:
    - targets: ["homeassistant.homeassistant.svc.cluster.local.:8123"]
      path: /api/prometheus
      bearerTokenSecret:
        name: homeassistant-token
        key: token
      labels:
        group: "homeassistant"

---
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMScrapeConfig
metadata:
  name: vmscrapeconfig-homeassistant-mudderpi
  namespace: victoriametrics
spec:
  scheme: "https"
  tlsConfig:
    insecureSkipVerify: true
  path: /api/prometheus
  bearerTokenSecret:
    name: homeassistant-mudderpi-token
    key: token
  staticConfigs:
    - targets: ["mudderpi-ha.goepp.net.:443"]
      labels:
        group: "homeassistant"
