image:
  repository: quay.io/prometheus/alertmanager
  pullPolicy: Always
  tag: ""

extraArgs:
  web.external-url: "https://alertmanager-prod.goepp.net"

livenessProbe:
  httpGet:
    path: /
    port: http

readinessProbe:
  httpGet:
    path: /
    port: http

ingress:
  enabled: true
  className: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
  hosts:
    - host: alertmanager-prod.goepp.net
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

persistence:
  enabled: false
  accessModes:
    - ReadWriteOnce
  size: 50Mi

config:
  enabled: true
  global: 
    smtp_smarthost: 'mail.goepp.net.:587'
    smtp_from: 'woodpeckergoepp@gmail.com'
    smtp_hello: 'alertmanager.goepp.net'
    smtp_require_tls: false
    resolve_timeout: 5m

  templates:
    - '/etc/alertmanager/*.tmpl'

  receivers:
    - name: 'team-goepp-mails'
      email_configs:
        - to: 'dan@goepp.com'
          send_resolved: true

    - name: awx-webhook-reboot-mudderpi
      webhook_configs:
        - url: "https://awx-prod.goepp.net/api/v2/job_templates/43/launch/"
          http_config:
            authorization:
              type: Bearer
              credentials: "5Az1scNFEDy8i3QXXBb5kxKUjwkzuu"
          send_resolved: false

  route:
    receiver: 'team-goepp-mails'
    group_wait: 30s
    group_interval: 5m
    repeat_interval: 4h
    group_by: [alertname, severity, instance]

    routes:
      # - matchers:
      #     - alertname="MudderPi Reboot Required"
      #   group_by: ["alertname", "location"]
      #   receiver: awx-webhook-reboot-mudderpi
      #   repeat_interval: 24h

      - matchers:
          - alertname="UPS Input Voltage - Data Collection Per Location"
          - location="Leyden"
          # - location=~"Leyden|Greenfield|Warwick"
        group_by: ["alertname", "location"]
        receiver: awx-webhook-reboot-mudderpi
        repeat_interval: 24h